@font-face {
    font-family: 'Sketch 3D';
    src: url('./fonts/Sketch 3D.woff') format('woff'),
         url('./fonts/Sketch 3D.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

header {
  position: relative;
  height: 200px;
}
#titre {
  position: absolute;
  top: 50px;
  margin-left: 250px;
  z-index: 100;
  font-family: 'Sketch 3D';
  font-size: 80px;
  color: purple;
}
#logo_r {
position: absolute;
width: 200px;
}

nav .nav-wrapper {
  position: relative;
  height: 45%;
}

nav {
  background-color: inherit;
  width: 70%;
  margin: auto;
  box-shadow: none;
}
nav a {
  color : black;
  font-family: 'Lobster', cursive;
}
.btn-accueil {
  text-transform: none;
  background-color: black;
  font-size: 2rem;
  border-radius: 12px;
  letter-spacing: 2px;
}
.btn-accueil:hover{
  color: brown;
}
#fonts{
  background-color: #66bcac;
  width: 70%;
  margin-left: auto;
  height: 200px;
  transform: skew(30deg);

}
#superposition{
  background-color: #66bcac;
  width: 30%;
  float: right;
  height: 200px;
}
.right {
  float: none !important;
  width: 70%;
  margin: auto;
}
.menu {
  float: none;
}
.btn-menu{
  border: none !important;
}
.material-icons {
  border : 1px solid black;
}
li img {
  width: 10%;
}
